.game-state {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  width: 16.5rem;
  text-align: center;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.history-container {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.history-container li {
  font-size: 0.8rem;
  margin-bottom: 5px; /* Optional: add spacing between items */
}
